body {
  width: 100%;
  background-color: #FFFFCC;
}
.navbar {
	margin-top: -65px;
	left:50%;
	margin-left:-240px;
	position: fixed;
}
a:-webkit-any-link {
  text-decoration: none;
  color: #c80000;
}
li {
	display: inline;
	padding: 5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #600000;
}
.headImg{
  float: left;
  height: 150px;
  width: 300px;
  margin-right: 30px;

}
.mainLink {
  display: block;
  margin:auto;
  margin-top: 75px;
  margin-left: 20%;
  margin-bottom: 100px;
}
h3 {
  position: static;
  text-align: center;
  margin-bottom: 0px;
}
h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: -15px;
}
table {
  background-color: gray;
  border: 3px solid collapse;
  margin: auto;
  width: 80%;
}

td {
  border: 1px solid;
  margin-top: 0px;
  text-align: center;
}

th{
  background: orange;
  border: 1px solid;
  padding: 1px;
  text-align: center;
}
.footerImg{
  float: left;
  height:50px;
  width:50px;
  border-radius: 250px;
}
.space{
  margin-left: 15px;
}
footer {
  vertical-align: middle;
  height: 30px;
  border-top: 1px solid black;
}
