#test {

}
body {
  width: 100%;
}
.header {
  text-align: center;
  font-style: Impact;
}
h1 {
  margin-top: 10px;
  margin-bottom: -15px;
}
table {
  background-color: lightgray;
  border: 3px solid collapse;
  margin: auto;
  width: 95%;

}

td {
  border: 1px solid;
  margin-top: 0px;
  text-align: center;
}

th{
  background-color: orange;
  border: 1px solid;
  padding: 1px;
  text-align: left;
}
